/* thiết lập style cho slideshow container */
 .container-slideshow {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }
 
/* ẩn hình ảnh cho phần tử slideshow */
 .slide {
   display: none;
 }

/* thiết kế nút mũi tên*/
 .btn-prev, .btn-next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }

/* thiết kế nút mũi tên next nằm phía bên phải */
 .btn-next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }

/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
 .btn-prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }

/* tạo hiệu ứng chuyển động fade */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }